body,html {
    margin: 0;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
    background: #000;
    color: white;
    overflow: auto
  }
  .mc {
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2%;
    padding-left: 28%;
    width: 40%;
    font: bold 12px/1.4 'Open Sans', arial, sans-serif;
  }